In [40]:
import pandas as pd
import numpy as np

pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [19]:
df_2000 = pd.read_csv("2000.csv")
df_2001 = pd.read_csv("2001.csv")
df_2002 = pd.read_csv("2002.csv")
df_2003 = pd.read_csv("2003.csv")
df_2004 = pd.read_csv("2004.csv")
df_2005 = pd.read_csv("2005.csv")
df_2006 = pd.read_csv("2006.csv")
df_2007 = pd.read_csv("2007.csv")
df_2008 = pd.read_csv("2008.csv")
df_2009 = pd.read_csv("2009.csv")
df_2010 = pd.read_csv("2010.csv")
df_2011 = pd.read_csv("2011.csv")
df_2012 = pd.read_csv("2012.csv")
df_2013 = pd.read_csv("2013.csv")
df_2014 = pd.read_csv("2014.csv")
df_2015 = pd.read_csv("2015.csv")
df_2016 = pd.read_csv("2016.csv")
df_2017 = pd.read_csv("2017.csv")
df_2018 = pd.read_csv("2018.csv")
df_2019 = pd.read_csv("2019.csv")

In [34]:
df_2000

   Deteccióndepadecimientos_Diabetes  anio   Total
0                     Aguascalientes  2000   67543
1                    Baja California  2000  122240
2                Baja California Sur  2000   29843
3                           Campeche  2000   41807
4                            Chiapas  2000   82796
5                          Chihuahua  2000  199771
6                          Coahuila   2000  179643
7                             Colima  2000   42920
8                         D.F. Norte  2000  354907
9                           D.F. Sur  2000  365979
10                           Durango  2000   98464
11                        Guanajuato  2000  228811
12                          Guerrero  2000   79404
13                           Hidalgo  2000   57664
14                           Jalisco  2000  363714
15                    México Oriente  2000  377767
16                   México Poniente  2000  214933
17                         Michoacán  2000  131023
18                           Morelos  2000   90151
19                           Nayarit  2000   44770
20                        Nuevo León  2000  414512
21                            Oaxaca  2000   70951
22                            Puebla  2000  194299
23                         Querétaro  2000   64929
24                      Quintana Roo  2000   52489
25                   San Luis Potosí  2000   60937
26                           Sinaloa  2000  219987
27                            Sonora  2000  136037
28                           Tabasco  2000   50235
29                        Tamaulipas  2000  221992
30                          Tlaxcala  2000   41538
31                    Veracruz Norte  2000  163354
32                      Veracruz Sur  2000  158304
33                           Yucatán  2000  115214
34                         Zacatecas  2000   46175

In [62]:
df_2000.Total

0      67543
1     122240
2      29843
3      41807
4      82796
5     199771
6     179643
7      42920
8     354907
9     365979
10     98464
11    228811
12     79404
13     57664
14    363714
15    377767
16    214933
17    131023
18     90151
19     44770
20    414512
21     70951
22    194299
23     64929
24     52489
25     60937
26    219987
27    136037
28     50235
29    221992
30     41538
31    163354
32    158304
33    115214
34     46175
Name: Total, dtype: int64

In [64]:
df_auxiliar = pd.concat([df_2000.Total,df_2001.Total,df_2002.Total,df_2003.Total,df_2004.Total,df_2005.Total,
                        df_2006.Total,df_2007.Total,df_2008.Total,df_2009.Total,df_2010.Total,df_2011.Total,
                        df_2012.Total,df_2013.Total,df_2014.Total,df_2015.Total,df_2016.Total,df_2017.Total,
                        df_2018.Total,df_2019.Total],axis=1)
df_auxiliar

,Total,Total,Total,Total,Total,Total,Total,Total,Total,Total,Total,Total,Total,Total,Total,Total,Total,Total,Total,Total
0,67543,76375,77405,74338,74935,21357,29483,78604,133158,142229,178663,204349,225115,194036,179898,234123,228371,235856,194442,161409
1,122240,123325,113658,178379,158505,42437,73488,206365,253983,226223,319744,390595,455190,418876,391975,582879,585283,657032,581767,496810
2,29843,34749,34263,38348,89279,13408,21050,43319,65500,67682,94018,94020,96659,102908,74061,73752,105938,97552,106368,88486
3,41807,41366,46574,53694,63447,13777,24160,29228,20968,21644,37900,39585,44519,58167,55157,67127,108251,91410,72631,67295
4,82796,75049,76566,75491,58580,14784,35600,111003,133367,145137,138197,137115,133917,126406,109383,188511,212872,214459,195738,163974
5,199771,208851,251252,244106,338580,93994,119561,219450,255615,294810,306279,417307,498673,471558,433229,440178,517195,461898,388451,362803
6,179643,224937,219128,266316,363994,92649,119856,235882,284550,285000,359312,404104,421009,435345,379859,478300,536878,559638,578930,558629
7,42920,46691,39286,38906,44102,13492,21803,39648,50894,54534,68680,74517,79651,66771,66589,93374,107724,113770,110638,97804
8,354907,315949,338199,363258,466068,152312,165610,306585,538893,490191,518933,533348,603380,760758,697475,1028326,1005516,1022248,1065473,1019181
9,365979,418975,432112,453825,309819,111194,155963,300465,381977,626424,607441,724918,767473,1050163,771274,869820,1246428,1189163,1197903,969767
10,98464,105907,105794,134825,118771,30547,41499,103150,115408,156244,204610,273611,283323,291250,193841,215914,236980,232286,247689,237703
11,228811,253986,218135,240753,238961,65203,132370,242532,238322,314975,331682,319572,352057,327014,230340,263252,368795,307771,327972,283830
12,79404,85526,113091,102630,118622,48952,68286,121102,126024,139157,141208,133297,127938,131882,128058,178610,189668,122614,130607,119137
13,57664,60291,54763,143999,75648,22981,38248,76123,81043,80566,98110,118085,132800,135337,124510,142628,153988,129073,106400,159631
14,363714,353475,320156,386968,488321,128065,211503,499633,642554,544893,699100,853525,972370,1020871,866436,1001923,1034163,1065592,1103796,1006087
15,377767,371436,467767,359250,450855,136785,212485,458561,512808,584732,749191,975777,1147800,1220308,850303,976338,1059507,904002,867262,848408
16,214933,263898,252683,362001,208583,52521,77611,193512,215377,254783,326473,361461,506603,493844,457491,505633,479156,546090,557460,535656
17,131023,130482,124015,173994,170582,54767,81738,182762,222616,203941,197320,196263,223777,211789,196231,307000,374715,334401,304821,295134
18,90151,76926,80464,91569,106465,28522,43161,83713,90289,120891,165798,181640,186949,176208,129292,105811,169177,135485,153693,149250
19,44770,59761,37094,38870,29875,14270,32907,66401,62861,58486,77680,104982,106980,103376,107023,133951,139909,119736,105228,96658
20,414512,398720,405432,522584,539394,134003,196877,296307,466138,560261,713330,865816,996724,1211010,1011234,1246983,1392412,1512199,1500597,1447052
21,70951,77993,73374,59226,76650,17188,27208,57414,67711,70601,94130,114745,122916,112501,103598,118744,135721,131377,126014,125804
22,194299,175935,138801,150251,290450,58889,77829,151475,222817,268833,254973,252665,292179,266187,239675,349825,451941,441609,422246,452568
23,64929,63005,73942,139095,158768,34419,46806,114698,172443,144821,155788,135300,122682,156711,100456,176199,201159,182286,173383,167325
24,52489,33942,43530,68408,111251,15432,28354,55508,48227,59540,71907,56125,69116,75991,73046,129828,207747,174234,184179,184177
25,60937,65122,117498,107291,145502,37809,44652,135611,168779,144023,153837,181273,190356,190933,244569,289503,343432,342961,321246,249913
26,219987,193680,171939,187831,302588,78712,107343,159611,194429,238812,303134,422212,451371,464545,317299,415299,452453,415313,404599,408256
27,136037,113616,139717,188747,130045,43419,76606,178656,225624,257215,259391,333229,363370,352556,293261,441915,455628,440156,388156,369206
28,50235,54479,61908,65241,41517,12858,23383,33611,36710,36379,38834,43126,58873,67947,60665,113499,190410,153717,140169,128499
29,221992,226094,237023,260945,229312,47432,83731,171559,231250,238917,318563,286918,315124,380147,371851,510867,571272,483118,501576,475779
30,41538,45091,51927,45317,44448,11198,16765,45357,51438,51693,55483,57895,61347,60459,61870,76751,104323,88608,99386,89614
31,163354,150220,150609,189470,282671,71687,108037,222551,286060,269833,321945,316585,351158,367599,309287,501352,505955,545500,525493,514347
32,158304,135514,111079,184734,268737,75235,86261,115955,130405,102804,144478,152336,182400,142265,120891,196971,185746,167643,180296,194983
33,115214,119281,129223,156252,151960,42288,67405,108336,137939,149361,163850,158040,202579,204450,170555,189396,237037,193051,217296,197624
34,46175,49549,52899,47165,43589,18486,23782,39863,42603,50362,60074,56425,56666,53255,52015,70501,64474,71607,74776,67310

Orservabdo las caracteristicas de los datos del IMSS se debe de proceder a juntar los elementos.

In [22]:
df_2008.iloc[[8,9],2]

8    538893
9    381977
Name: Total, dtype: int64

In [23]:
df_2008.iloc[[8,9],2].sum()

920870

In [26]:
df_2008.iloc[[15,16],2]

15    512808
16    215377
Name: Total, dtype: int64

In [27]:
df_2008.iloc[[15,16],2].sum()

728185

In [31]:
df_2008.iloc[[31,32],2]

31    286060
32    130405
Name: Total, dtype: int64

In [32]:
df_2008.iloc[[31,32],2].sum()

416465

In [38]:
estados_republica = ['Aguascalientes','Baja California','Baja California Sur','Campeche','Chiapas','Chihuahua','Ciudad De Mexico',
 'Coahuila','Colima','Durango','Guanajuato','Guerrero','Hidalgo','Jalisco','Mexico','Michoacan','Morelos','Nayarit',
 'Nuevo Leon','Oaxaca','Puebla','Queretaro','Quintana Roo','San Luis Potosi','Sinaloa','Sonora','Tabasco','Tamaulipas',
 'Tlaxcala','Veracruz','Yucatan','Zacatecas']

In [41]:
diccionario_general = {
    'Id':list(range(1,33)),
    'Estados':estados_republica,
    'Total_Casos_Diabetes_2000':list(np.nan for i in range(0,32)),
    'Total_Casos_Diabetes_2001':list(np.nan for i in range(0,32)),
    'Total_Casos_Diabetes_2002':list(np.nan for i in range(0,32)),
    'Total_Casos_Diabetes_2003':list(np.nan for i in range(0,32)),
    'Total_Casos_Diabetes_2004':list(np.nan for i in range(0,32)),
    'Total_Casos_Diabetes_2005':list(np.nan for i in range(0,32)),
    'Total_Casos_Diabetes_2006':list(np.nan for i in range(0,32)),
    'Total_Casos_Diabetes_2007':list(np.nan for i in range(0,32)),
    'Total_Casos_Diabetes_2008':list(np.nan for i in range(0,32)),
    'Total_Casos_Diabetes_2009':list(np.nan for i in range(0,32)),
    'Total_Casos_Diabetes_2010':list(np.nan for i in range(0,32)),
    'Total_Casos_Diabetes_2011':list(np.nan for i in range(0,32)),
    'Total_Casos_Diabetes_2012':list(np.nan for i in range(0,32)),
    'Total_Casos_Diabetes_2013':list(np.nan for i in range(0,32)),
    'Total_Casos_Diabetes_2014':list(np.nan for i in range(0,32)),
    'Total_Casos_Diabetes_2015':list(np.nan for i in range(0,32)),
    'Total_Casos_Diabetes_2016':list(np.nan for i in range(0,32)),
    'Total_Casos_Diabetes_2017':list(np.nan for i in range(0,32)),
    'Total_Casos_Diabetes_2018':list(np.nan for i in range(0,32)),
    'Total_Casos_Diabetes_2019':list(np.nan for i in range(0,32)),
}

In [43]:
df_general = pd.DataFrame(diccionario_general)

In [51]:
df_general.head()

,Id,Estados,Total_Casos_Diabetes_2000,Total_Casos_Diabetes_2001,Total_Casos_Diabetes_2002,Total_Casos_Diabetes_2003,Total_Casos_Diabetes_2004,Total_Casos_Diabetes_2005,Total_Casos_Diabetes_2006,Total_Casos_Diabetes_2007,Total_Casos_Diabetes_2008,Total_Casos_Diabetes_2009,Total_Casos_Diabetes_2010,Total_Casos_Diabetes_2011,Total_Casos_Diabetes_2012,Total_Casos_Diabetes_2013,Total_Casos_Diabetes_2014,Total_Casos_Diabetes_2015,Total_Casos_Diabetes_2016,Total_Casos_Diabetes_2017,Total_Casos_Diabetes_2018,Total_Casos_Diabetes_2019
0,1,Aguascalientes,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Baja California,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Baja California Sur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Campeche,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Chiapas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
df_general.shape

(32, 22)

In [67]:
df_auxiliar.iloc[0,0]

67543

In [68]:
for i in range(2,len(df_general.columns)):
    df_general.iloc[0,i] = df_auxiliar.iloc[0,i-2]                #Aguascalientes
    df_general.iloc[1,i] = df_auxiliar.iloc[1,i-2]                #Baja California
    df_general.iloc[2,i] = df_auxiliar.iloc[2,i-2]                #Baja California Sur
    df_general.iloc[3,i] = df_auxiliar.iloc[3,i-2]                #Campeche
    df_general.iloc[4,i] = df_auxiliar.iloc[4,i-2]                #Chiapas   
    df_general.iloc[5,i] = df_auxiliar.iloc[5,i-2]                #Chihuahua
    df_general.iloc[6,i] = df_auxiliar.iloc[[8,9],i-2].sum()      #Ciudad de Mexico
    df_general.iloc[7,i] = df_auxiliar.iloc[6,i-2]                #Coahuila
    df_general.iloc[8,i] = df_auxiliar.iloc[7,i-2]                #Colima 
    df_general.iloc[9,i] = df_auxiliar.iloc[10,i-2]               #Durango
    df_general.iloc[10,i] = df_auxiliar.iloc[11,i-2]              #Guanajuato
    df_general.iloc[11,i] = df_auxiliar.iloc[12,i-2]              #Guerrero
    df_general.iloc[12,i] = df_auxiliar.iloc[13,i-2]              #Hidalgo
    df_general.iloc[13,i] = df_auxiliar.iloc[14,i-2]              #Jalisco
    df_general.iloc[14,i] = df_auxiliar.iloc[[15,16],i-2].sum()   #Mexico
    df_general.iloc[15,i] = df_auxiliar.iloc[17,i-2]              #Michoacan
    df_general.iloc[16,i] = df_auxiliar.iloc[18,i-2]              #Morelos
    df_general.iloc[17,i] = df_auxiliar.iloc[19,i-2]              #Nayarit
    df_general.iloc[18,i] = df_auxiliar.iloc[20,i-2]              #Nuevo Leon
    df_general.iloc[19,i] = df_auxiliar.iloc[21,i-2]              #Oaxaca
    df_general.iloc[20,i] = df_auxiliar.iloc[22,i-2]              #Puebla
    df_general.iloc[21,i] = df_auxiliar.iloc[23,i-2]              #Queretaro
    df_general.iloc[22,i] = df_auxiliar.iloc[24,i-2]              #Quitana Roo
    df_general.iloc[23,i] = df_auxiliar.iloc[25,i-2]              #San Luis Potosi
    df_general.iloc[24,i] = df_auxiliar.iloc[26,i-2]              #Sinaloa
    df_general.iloc[25,i] = df_auxiliar.iloc[27,i-2]              #Sonora
    df_general.iloc[26,i] = df_auxiliar.iloc[28,i-2]              #Tabasco 
    df_general.iloc[27,i] = df_auxiliar.iloc[29,i-2]              #Tamaulipas
    df_general.iloc[28,i] = df_auxiliar.iloc[30,i-2]              #Tlaxcala
    df_general.iloc[29,i] = df_auxiliar.iloc[[31,32],i-2].sum()   #Veracruz
    df_general.iloc[30,i] = df_auxiliar.iloc[33,i-2]              #Yucatan
    df_general.iloc[31,i] = df_auxiliar.iloc[34,i-2]              #Zacatecas

In [59]:
len(df_general.columns)

22

In [71]:
df_2000

   Deteccióndepadecimientos_Diabetes  anio   Total
0                     Aguascalientes  2000   67543
1                    Baja California  2000  122240
2                Baja California Sur  2000   29843
3                           Campeche  2000   41807
4                            Chiapas  2000   82796
5                          Chihuahua  2000  199771
6                          Coahuila   2000  179643
7                             Colima  2000   42920
8                         D.F. Norte  2000  354907
9                           D.F. Sur  2000  365979
10                           Durango  2000   98464
11                        Guanajuato  2000  228811
12                          Guerrero  2000   79404
13                           Hidalgo  2000   57664
14                           Jalisco  2000  363714
15                    México Oriente  2000  377767
16                   México Poniente  2000  214933
17                         Michoacán  2000  131023
18                           Morelos  2000   90151
19                           Nayarit  2000   44770
20                        Nuevo León  2000  414512
21                            Oaxaca  2000   70951
22                            Puebla  2000  194299
23                         Querétaro  2000   64929
24                      Quintana Roo  2000   52489
25                   San Luis Potosí  2000   60937
26                           Sinaloa  2000  219987
27                            Sonora  2000  136037
28                           Tabasco  2000   50235
29                        Tamaulipas  2000  221992
30                          Tlaxcala  2000   41538
31                    Veracruz Norte  2000  163354
32                      Veracruz Sur  2000  158304
33                           Yucatán  2000  115214
34                         Zacatecas  2000   46175

In [69]:
df_general

,Id,Estados,Total_Casos_Diabetes_2000,Total_Casos_Diabetes_2001,Total_Casos_Diabetes_2002,Total_Casos_Diabetes_2003,Total_Casos_Diabetes_2004,Total_Casos_Diabetes_2005,Total_Casos_Diabetes_2006,Total_Casos_Diabetes_2007,Total_Casos_Diabetes_2008,Total_Casos_Diabetes_2009,Total_Casos_Diabetes_2010,Total_Casos_Diabetes_2011,Total_Casos_Diabetes_2012,Total_Casos_Diabetes_2013,Total_Casos_Diabetes_2014,Total_Casos_Diabetes_2015,Total_Casos_Diabetes_2016,Total_Casos_Diabetes_2017,Total_Casos_Diabetes_2018,Total_Casos_Diabetes_2019
0,1,Aguascalientes,67543.0,76375.0,77405.0,74338.0,74935.0,21357.0,29483.0,78604.0,133158.0,142229.0,178663.0,204349.0,225115.0,194036.0,179898.0,234123.0,228371.0,235856.0,194442.0,161409.0
1,2,Baja California,122240.0,123325.0,113658.0,178379.0,158505.0,42437.0,73488.0,206365.0,253983.0,226223.0,319744.0,390595.0,455190.0,418876.0,391975.0,582879.0,585283.0,657032.0,581767.0,496810.0
2,3,Baja California Sur,29843.0,34749.0,34263.0,38348.0,89279.0,13408.0,21050.0,43319.0,65500.0,67682.0,94018.0,94020.0,96659.0,102908.0,74061.0,73752.0,105938.0,97552.0,106368.0,88486.0
3,4,Campeche,41807.0,41366.0,46574.0,53694.0,63447.0,13777.0,24160.0,29228.0,20968.0,21644.0,37900.0,39585.0,44519.0,58167.0,55157.0,67127.0,108251.0,91410.0,72631.0,67295.0
4,5,Chiapas,82796.0,75049.0,76566.0,75491.0,58580.0,14784.0,35600.0,111003.0,133367.0,145137.0,138197.0,137115.0,133917.0,126406.0,109383.0,188511.0,212872.0,214459.0,195738.0,163974.0
5,6,Chihuahua,199771.0,208851.0,251252.0,244106.0,338580.0,93994.0,119561.0,219450.0,255615.0,294810.0,306279.0,417307.0,498673.0,471558.0,433229.0,440178.0,517195.0,461898.0,388451.0,362803.0
6,7,Ciudad De Mexico,720886.0,734924.0,770311.0,817083.0,775887.0,263506.0,321573.0,607050.0,920870.0,1116615.0,1126374.0,1258266.0,1370853.0,1810921.0,1468749.0,1898146.0,2251944.0,2211411.0,2263376.0,1988948.0
7,8,Coahuila,179643.0,224937.0,219128.0,266316.0,363994.0,92649.0,119856.0,235882.0,284550.0,285000.0,359312.0,404104.0,421009.0,435345.0,379859.0,478300.0,536878.0,559638.0,578930.0,558629.0
8,9,Colima,42920.0,46691.0,39286.0,38906.0,44102.0,13492.0,21803.0,39648.0,50894.0,54534.0,68680.0,74517.0,79651.0,66771.0,66589.0,93374.0,107724.0,113770.0,110638.0,97804.0
9,10,Durango,98464.0,105907.0,105794.0,134825.0,118771.0,30547.0,41499.0,103150.0,115408.0,156244.0,204610.0,273611.0,283323.0,291250.0,193841.0,215914.0,236980.0,232286.0,247689.0,237703.0
10,11,Guanajuato,228811.0,253986.0,218135.0,240753.0,238961.0,65203.0,132370.0,242532.0,238322.0,314975.0,331682.0,319572.0,352057.0,327014.0,230340.0,263252.0,368795.0,307771.0,327972.0,283830.0
11,12,Guerrero,79404.0,85526.0,113091.0,102630.0,118622.0,48952.0,68286.0,121102.0,126024.0,139157.0,141208.0,133297.0,127938.0,131882.0,128058.0,178610.0,189668.0,122614.0,130607.0,119137.0
12,13,Hidalgo,57664.0,60291.0,54763.0,143999.0,75648.0,22981.0,38248.0,76123.0,81043.0,80566.0,98110.0,118085.0,132800.0,135337.0,124510.0,142628.0,153988.0,129073.0,106400.0,159631.0
13,14,Jalisco,363714.0,353475.0,320156.0,386968.0,488321.0,128065.0,211503.0,499633.0,642554.0,544893.0,699100.0,853525.0,972370.0,1020871.0,866436.0,1001923.0,1034163.0,1065592.0,1103796.0,1006087.0
14,15,Mexico,592700.0,635334.0,720450.0,721251.0,659438.0,189306.0,290096.0,652073.0,728185.0,839515.0,1075664.0,1337238.0,1654403.0,1714152.0,1307794.0,1481971.0,1538663.0,1450092.0,1424722.0,1384064.0
15,16,Michoacan,131023.0,130482.0,124015.0,173994.0,170582.0,54767.0,81738.0,182762.0,222616.0,203941.0,197320.0,196263.0,223777.0,211789.0,196231.0,307000.0,374715.0,334401.0,304821.0,295134.0
16,17,Morelos,90151.0,76926.0,80464.0,91569.0,106465.0,28522.0,43161.0,83713.0,90289.0,120891.0,165798.0,181640.0,186949.0,176208.0,129292.0,105811.0,169177.0,135485.0,153693.0,149250.0
17,18,Nayarit,44770.0,59761.0,37094.0,38870.0,29875.0,14270.0,32907.0,66401.0,62861.0,58486.0,77680.0,104982.0,106980.0,103376.0,107023.0,133951.0,139909.0,119736.0,105228.0,96658.0
18,19,Nuevo Leon,414512.0,398720.0,405432.0,522584.0,539394.0,134003.0,196877.0,296307.0,466138.0,560261.0,713330.0,865816.0,996724.0,1211010.0,1011234.0,1246983.0,1392412.0,1512199.0,1500597.0,1447052.0
19,20,Oaxaca,70951.0,77993.0,73374.0,59226.0,76650.0,17188.0,27208.0,57414.0,67711.0,70601.0,94130.0,114745.0,122916.0,112501.0,103598.0,118744.0,135721.0,131377.0,126014.0,125804.0
20,21,Puebla,194299.0,175935.0,138801.0,150251.0,290450.0,58889.0,77829.0,151475.0,222817.0,268833.0,254973.0,252665.0,292179.0,266187.0,239675.0,349825.0,451941.0,441609.0,422246.0,452568.0
21,22,Queretaro,64929.0,63005.0,73942.0,139095.0,158768.0,34419.0,46806.0,114698.0,172443.0,144821.0,155788.0,135300.0,122682.0,156711.0,100456.0,176199.0,201159.0,182286.0,173383.0,167325.0
22,23,Quintana Roo,52489.0,33942.0,43530.0,68408.0,111251.0,15432.0,28354.0,55508.0,48227.0,59540.0,71907.0,56125.0,69116.0,75991.0,73046.0,129828.0,207747.0,174234.0,184179.0,184177.0
23,24,San Luis Potosi,60937.0,65122.0,117498.0,107291.0,145502.0,37809.0,44652.0,135611.0,168779.0,144023.0,153837.0,181273.0,190356.0,190933.0,244569.0,289503.0,343432.0,342961.0,321246.0,249913.0
24,25,Sinaloa,219987.0,193680.0,171939.0,187831.0,302588.0,78712.0,107343.0,159611.0,194429.0,238812.0,303134.0,422212.0,451371.0,464545.0,317299.0,415299.0,452453.0,415313.0,404599.0,408256.0
25,26,Sonora,136037.0,113616.0,139717.0,188747.0,130045.0,43419.0,76606.0,178656.0,225624.0,257215.0,259391.0,333229.0,363370.0,352556.0,293261.0,441915.0,455628.0,440156.0,388156.0,369206.0
26,27,Tabasco,50235.0,54479.0,61908.0,65241.0,41517.0,12858.0,23383.0,33611.0,36710.0,36379.0,38834.0,43126.0,58873.0,67947.0,60665.0,113499.0,190410.0,153717.0,140169.0,128499.0
27,28,Tamaulipas,221992.0,226094.0,237023.0,260945.0,229312.0,47432.0,83731.0,171559.0,231250.0,238917.0,318563.0,286918.0,315124.0,380147.0,371851.0,510867.0,571272.0,483118.0,501576.0,475779.0
28,29,Tlaxcala,41538.0,45091.0,51927.0,45317.0,44448.0,11198.0,16765.0,45357.0,51438.0,51693.0,55483.0,57895.0,61347.0,60459.0,61870.0,76751.0,104323.0,88608.0,99386.0,89614.0
29,30,Veracruz,321658.0,285734.0,261688.0,374204.0,551408.0,146922.0,194298.0,338506.0,416465.0,372637.0,466423.0,468921.0,533558.0,509864.0,430178.0,698323.0,691701.0,713143.0,705789.0,709330.0
30,31,Yucatan,115214.0,119281.0,129223.0,156252.0,151960.0,42288.0,67405.0,108336.0,137939.0,149361.0,163850.0,158040.0,202579.0,204450.0,170555.0,189396.0,237037.0,193051.0,217296.0,197624.0
31,32,Zacatecas,46175.0,49549.0,52899.0,47165.0,43589.0,18486.0,23782.0,39863.0,42603.0,50362.0,60074.0,56425.0,56666.0,53255.0,52015.0,70501.0,64474.0,71607.0,74776.0,67310.0

In [72]:
df_general.to_csv("Casos_Diabetes_IMSS.csv", index=False)

In [73]:
df_general.head()

,Id,Estados,Total_Casos_Diabetes_2000,Total_Casos_Diabetes_2001,Total_Casos_Diabetes_2002,Total_Casos_Diabetes_2003,Total_Casos_Diabetes_2004,Total_Casos_Diabetes_2005,Total_Casos_Diabetes_2006,Total_Casos_Diabetes_2007,Total_Casos_Diabetes_2008,Total_Casos_Diabetes_2009,Total_Casos_Diabetes_2010,Total_Casos_Diabetes_2011,Total_Casos_Diabetes_2012,Total_Casos_Diabetes_2013,Total_Casos_Diabetes_2014,Total_Casos_Diabetes_2015,Total_Casos_Diabetes_2016,Total_Casos_Diabetes_2017,Total_Casos_Diabetes_2018,Total_Casos_Diabetes_2019
0,1,Aguascalientes,67543.0,76375.0,77405.0,74338.0,74935.0,21357.0,29483.0,78604.0,133158.0,142229.0,178663.0,204349.0,225115.0,194036.0,179898.0,234123.0,228371.0,235856.0,194442.0,161409.0
1,2,Baja California,122240.0,123325.0,113658.0,178379.0,158505.0,42437.0,73488.0,206365.0,253983.0,226223.0,319744.0,390595.0,455190.0,418876.0,391975.0,582879.0,585283.0,657032.0,581767.0,496810.0
2,3,Baja California Sur,29843.0,34749.0,34263.0,38348.0,89279.0,13408.0,21050.0,43319.0,65500.0,67682.0,94018.0,94020.0,96659.0,102908.0,74061.0,73752.0,105938.0,97552.0,106368.0,88486.0
3,4,Campeche,41807.0,41366.0,46574.0,53694.0,63447.0,13777.0,24160.0,29228.0,20968.0,21644.0,37900.0,39585.0,44519.0,58167.0,55157.0,67127.0,108251.0,91410.0,72631.0,67295.0
4,5,Chiapas,82796.0,75049.0,76566.0,75491.0,58580.0,14784.0,35600.0,111003.0,133367.0,145137.0,138197.0,137115.0,133917.0,126406.0,109383.0,188511.0,212872.0,214459.0,195738.0,163974.0